body {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

body::before {
  content: "";
  background-image: url("../public/icons/weather-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
@media (min-width: 480px) {
  .weather-header form {
    flex-direction: row;
    gap: 20px;
  }

  input,
  select {
    width:80%;
  }

  button {
    width: auto;
    padding: 10px 20px;
  }
}
@media (max-width: 768px) {
  .weather-app {
    padding: 20px;
    width: 95%;
  }
}

@media (min-width: 1024px) {
  .weather-app {
    padding: 40px 80px;
  }

  .weather-footer ul {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .weather-app {
    padding: 30px 60px;
  }
}
